<!DOCTYPE html>
<html>
    <head>
        <h1 style="text-align:center;">Dziękujemy za zakupy w Meadow!</h1>
            </head>
            <body>
                <h2>Aby dokończyć transakcję prosimy o wykonanie przelewu na poniższe dane</h2>
                <p>Odbiorca: Mateusz Łączyński
                Numer konta: 68 1020 1055 0000 9402 0358 9777 <br>
                Tytuł: {{id}} <br>
                Kwota: {{price}} zł</p>
                <h2>Zamówienie:</h2>
                <p>{{order}}</p>
                <h2>Dostawa:</h2>
                <p>{{full_name}}</p>
                <p>{{city}}: {{adress}} {{postal_code}}</p>
                <p>{{shipment_method}}</p>
            </body>
</html>
